<?xml version="1.0" ?>
<model>
	<name>RMUC2026_world</name>
	<version>1.0</version>
	<sdf version="1.7"></sdf>

	<author>
		<name>Lihan Chen</name>
		<email>lihanchen2004@163.com</email>
	</author>

	<description>RMUC 2026 world (built from the attached easystl.stl, sha256 cc723f31..., mm units + z shift)</description>
</model>
